@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(45deg, #18054D, #2F0557);
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  height: 90vh;

  border: 1px solid rgba(255, 255, 255, .25);
  border-radius: 15px;
  background-color: rgba(98, 23, 142, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
}

.container nav {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h2 {
  font-size: 15px;
  color: #FFF;
}

.logo span {
  color: #3a86ff;
}

.logo {
  margin-left: 6%;
}

.logo img {
  width: 40px;
  height: 40px;
  float: center;
}

nav ul {
  list-style: none;
  margin-right: 5%;
}

nav ul li {
  display: inline-block;
}

nav ul li a {
  padding: 14px 22px;
  color: #3a86ff;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
}

nav ul li a:hover {
  color: #ffbe0b;
}

.container main {
  margin-right: 4%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: calc(90vh - 70px);
}

main h2 {
  font-size: 25px;
  color: #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 500;
}

main .cards h2 {
  margin-left: 5%;
}


main .cards ol {
  align-items: center;
  justify-content: space-between;

  margin-left: 5%;
  display: flex;
  width: 100%;
  list-style: none
}

main .cards ol li {
  border: 1px solid rgba(255, 255, 255, .25);
  background-color: rgba(69, 16, 138, 0.45);
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(15px);

  margin-right: 50px;
  list-style: none;
  border-radius: 33px 0 33px 0;
  padding: 30px;
  flex: 1 1
}

main .cards ol li p {
  margin: 0;
  font-size: 10px;
  color: #fff;
}

main .cards .items {
  line-height: 38px;
  text-align: center;
  background-color: rgba(32, 197, 225, .5);
  color: var(--white);
  width: 38px;
  height: 38px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 10px
}


/* ---------------------------------- card CSS ------------------------------- */



.popup {
  display: none;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  top: 50%;
  margin-top: -100px;
  border: 1px solid rgba(255, 255, 255, .25);
  z-index: 20;

  background-color: #18054D;
  border-radius: 1.5rem;
  align-items: center;
  box-shadow: 0 4px 16px hsla(29, 75%, 8%, 0.2);
}

#popup:after {
  position: fixed;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
}

#popup:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.card__border img {
  max-width: 100%;
  height: auto;
  width: 110px;
  border-radius: 50%;
}


.card {
  position: relative;
  width: 256px;
  padding: 1.25rem 2rem 3rem;
  border-radius: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 16px hsla(29, 75%, 8%, 0.2);
}

.card__border {
  width: 110px;
  height: 110px;
  border: 2px solid #ffbe0b;
  border-radius: 50%;
  display: grid;
  place-items: center;
  margin: 0 auto 0.75rem;
}

.card__name {
  color: #ffbe0b;
  font-size: 25px;
  font-weight: 1000;
}

.card__profession {
  color: #3a86ff;
  font-size: 18px;
  font-weight: 800;
}

.card button {
  border: 1px solid #fff;
  outline: none;
  padding: 2px 6px;
  color: #fff;
  border-radius: 30px;
  font-size: 10px;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.5s;
}

.card button:hover{
  background-color: #ffbe0b;
  border-color: #fff;
}